{% extends 'base.html' %}

{% block title %}Curency Converter{% endblock %}

{% block content %}


<div class="container card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Currency Converter</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0">

        <form class="text-center"  method="POST" action="/result">

           
            <div class="md-form">
                <input type="text" id="input" name="input" class="form-control">
                <label for="materialinputcurrency">Converting from: </label>
            </div>
            <div class="md-form">
                <input type="text" id="output" name="output" class="form-control">
                <label for="materialoutputcurrency">Converting to: </label>
            </div>
            <div class="md-form input-with-pre-icon">
                <i class="fas fa-coins input-prefix"></i>
                <input type="text" id="amount" name="amount" class="form-control">
                <label for="amount">Amount</label>
            </div>
            <button type="submit" class="btn btn-info">Convert</button>
        </form>
    </div>
        
</div>

{% endblock %}